
.dropitem:hover .dropmenu-hover {
    display: block !important;
}
.dropitem:hover .showme {
    display: block !important;
}

.solution{
    left: -33px;
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 1rem;
  }

  nav li {
    width: 100%;
  }

  .nested-submenu {
    position: static;
    box-shadow: none;
  }
}