.service-section {
    background-image: url('/assets/Service-imgbg.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* .grey::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 200px;
    bottom: 25px;
    left: 0;
    background-color: #eaeaea;
    z-index: -1;
} */

